@import "reset";
@import "config";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-attachment: fixed;
  font-family: "Roboto", "Raleway", sans-serif;
  // width: 100vw;
  // height: 100vh;
}
.bgs {
  position: absolute;
  width: 50vw;
  height: 100vh;
  top: 0;
  right: 0;
  background-image: url(/images/bg.png);
  z-index: -111;
  // background-position: center center;
  // background-size: cover;
  // background-repeat: none;
}
.continer {
  max-width: 1175px;
  margin: 0 auto;
}

header {
  .epay-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .epay-logo {
      img {
        width: 50%;
      }
    }
  }
}
main {
  & {
    .epay-content-header {
      display: flex;

      .epay-header-text {
        .main-title {
          display: flex;
          align-items: center;

          h1 {
            // font-size: 5em;
          }
        }
      }
    }
  }
}
